@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.421);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 1px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5xp 10xp rgba(0, 0, 0, 0.673);
    transition: transform 0.3s, border 1s;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 20px;
    height: 471px;
    width: 269px;
}

